

  <fieldset class="module aligned wide ">

<div class="datosCATALOGOS">
  <div id="tituloCUADROS">DATOS GENERALES</div>
<p>&nbsp;</p><p>&nbsp;</p>
{% for line in fieldset %}
  {% for field in line %}
      {% if field.field.name == "nombreCargoInaugura" %}

        <div class="row field-nombreCargoInaugura rowmod" align="center" style="border-bottom: 15px; padding-bottom: 10px;">
            <div class="col-md-6 colmod" align="left"><label id="label-fld" for="id_nombreCargoInaugura">
                <span class="{% if errors or adminform.form.non_field_errors %}{{ "error__msg" }}{% else %}{{ "label-fld" }}{% endif %}">*</span>
                Nombre de Inaugurador:</label></div>

            <div class="col-md-6 colmod"><input class="vTextField" id="id_nombreCargoInaugura" maxlength="200" name="nombreCargoInaugura" type="text"
                                value="{{ field.field.value|default_if_none:"" }}"/></div>
            </div>
        {% endif %}


{% endfor %}
   {% endfor %}
</div>
</fieldset>

