{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify%}

{% block extrahead %}{{ block.super }}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
     <script type="text/javascript" src="{% static 'assets/js/ajax-movimientos.js' %}"></script>
     <link href="{% static "css/formas.css" %}" rel="stylesheet">
        <link href="{% static "css/widgets.css" %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'assets/bootstrap/js/bootstrap.file-input.js' %}"></script>
    {{ media }}
    <script type="text/javascript">
(


        function($) {


function $_GET(param)
{
/* Obtener la url completa */
url = document.URL;
/* Buscar a partir del signo de interrogación ? */
url = String(url.match(/\?+.+/));
/* limpiar la cadena quitándole el signo ? */
url = url.replace("?", "");
/* Crear un array con parametro=valor */
url = url.split("&");

/*
Recorrer el array url
obtener el valor y dividirlo en dos partes a través del signo =
0 = parametro
1 = valor
Si el parámetro existe devolver su valor
*/
x = 0;
while (x < url.length)
{
p = url[x].split("=");
if (p[0] == param)
{
return decodeURIComponent(p[1]);
}
x++;
}



}
    $(document).ready(function($) {
        $("tr input.action-select").actions();
        if ($_GET("m")==1) {
            $("#walta").hide();
            $("#wmod").show();
            $("#buscar").show();
            $("#buscarICO").show();

        }
        else {
            $("#walta").show();
            $("#wmod").hide();
             $("#buscar").hide();
            $("#buscarICO").hide();

        }


    });
})(django.jQuery);
</script>

    <script>
        var $j = jQuery.noConflict();
        $j(document).on('ready', main_consulta);
        function main_consulta() {
            $j.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if(settings.type == "POST"){
                        xhr.setRequestHeader("X-CSRFToken", $j('[name="csrfmiddlewaretoken"]').val());
                    }
                    if(settings.type == "GET"){
                        xhr.setRequestHeader("X-CSRFToken", $j('[name="csrfmiddlewaretoken"]').val());
                    }
                }
            });

            $j('#id_dependencia').on('change', regresa);

        }

        function regresa(){
            var idDep = $j("#id_dependencia").val();
            var sHtml="";

            var ajax_data = {"access_token"  : 'XwBWJLksjXHNbUoejwgc8Y0vR7FEDs'};

            if(idDep.toString()!=""){ajax_data.id=idDep.toString();}

            $j.ajax({
                url: '/obras/api/dependencia_imagen',
                type: 'get',
                data: ajax_data,
                success: function(data) {
                    sHtml= '<img src="' + data[0].dependencia.imagenDependencia.toString() +'" >'
                    $j('#logoDEP').html(sHtml);


                },
                error: function(data) {
                   //  alert('error!!! ' + data.status);
                }
            });
        }


    </script>

{% endblock %}

{% block extrastyle %}{{ block.super }}
<style>

input{
}
</style>
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs %}
    {% endblock %}
{% endif %}

{% block content %}
    <div id="regresarBTN" onclick="location.href='/obras/movimientos'">
   </div>

  <div id="welcome">

           <span id="walta" hidden="true">Alta de Obra</span>

            <span id="wmod" hidden="true">Modificar Obra</span>



  </div>

     <div id="buscar" hidden="true">
     <input type="hidden" id="tok" value="{% csrf_token %}">
     <input class="buscar" type="text" name="idobra" value="" id="idobra">
  </div>

  <div id="buscarICO" hidden="true">
  </div>

        {% block object-tools %}
            {% if change %}{% if not is_popup %}
                <ul class="object-tools">
                    {% block object-tools-items %}
                        {% if has_absolute_url %}
                            <li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>
                        {% endif %}
                    {% endblock %}
                </ul>
            {% endif %}{% endif %}
        {% endblock %}
        <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post"
              id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
            {% if errors %}
{{ errors }}
                    {% if adminform.form.non_field_errors|length == 1 %} * Favor de verificar los datos {% else %}
                        * Favor de verificar los datos {% endif %} {{ adminform.form.non_field_errors }}
                {% endif %}
            <div>
                {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1"/>{% endif %}
                {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}"/>{% endif %}
                {% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}

                {% block field_sets %}
                    {% for fieldset in adminform %}
                        {% include "admin/obras/obra/fieldset.html" %}
                    {% endfor %}
                {% endblock %}


                {% block after_field_sets %}{% endblock %}

                {% block inline_field_sets %}

                {% endblock %}

                {% block after_related_objects %}{% endblock %}

                {% block submit_buttons_bottom %}{% endblock %}
                {% block admin_change_form_document_ready %}


                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
                     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
                    <script src="{% static "assets/bootstrap/js/bootstrap-datepicker.js"%}"></script>
                   <script type="text/javascript">
                    var $dp = jQuery.noConflict();
                    $dp('#id_fechaInicio').datepicker({
                        autoclose:true,
                        format:'dd/mm/yyyy',
                        orientation:'bottom'
                    });
                       $dp('#id_fechaTermino').datepicker({
                        autoclose:true,
                        format:'dd/mm/yyyy'
                    });
                    </script>

                 <script src="{% static "assets/js/jquery.numeric.js"%}"></script>
                 <script src="{% static "assets/js/utilerias.js"%}"></script>
                    {% endblock %}

                    {# JavaScript for prepopulated fields #}
                 {% prepopulated_fields_js %}

            </div>
        </form>


{% endblock %}