<fieldset class="module aligned {{ fieldset.classes }}" style="border: 0px;">

   <div class="historialBTN"></div>
   <div class="imprimirBTN"></div>

      {% for line in fieldset %}
  {% for field in line %}

         {% if field.field.name == "identificador_unico" %}
              <div class="general">
                <div id="logoDEP">

                </div>

                <div id="tituloCUADROS">
                    GENERAL
                </div>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <table width="100%" border="0px" cellpadding="0px" cellspacing="3px">
                   <tr>
                      <td>ID Único:</td>
                      <td><label id="id_identificador_unico" name="identificador_unico" >{{ field.field.value|default_if_none:"" }}</label></td>
                  </tr>

         {% endif %}

         {% if field.field.name == "id_Dependencia" %}
                 <tr>
                      <td>ID interno:</td>
                      <td>{{ field.field }}</td>
                 </tr>

          {% endif %}

          {% if field.field.name == "denominacion" %}
                  <tr>
                      <td> <label class="required" for="id_denominacion">Denominacion:</label></td>
                      <td> {{ field.field }}</td>
                  </tr>
          {% endif %}
         {% if field.field.name == "dependencia" %}
                  <tr>
                      <td>  <label class="required" for="id_dependencia">Dependencia:</label></td>
                      {% csrf_token %}
                      <td> {{ field.field }}</td>
                  </tr>
          {% endif %}
         {% if field.field.name == "subdependencia" %}
                  <tr>
                      <td>  <label class="required" for="id_subdependencia">SubDependencia:</label></td>
                      <td> {{ field.field }}</td>
                  </tr>
         {% endif %}
        {% if field.field.name == "instanciaEjecutora" %}
                  <tr>
                      <td> <label for="id_instanciaEjecutora">Instancia Ejecutora:</label></td>
                      <td> {{ field.field }}</td>
                  </tr>
        {% endif %}
       {% if field.field.name == "estado" %}
                  <tr>
                      <td> <label class="required" for="id_estado">Estado:</label></td>
                      <td> {{ field.field }}</td>
                  </tr>
       {% endif %}
      {% if field.field.name == "municipio" %}
                  <tr>
                      <td> <label class="required" for="id_municipio">Municipio:</label></td>
                      <td> {{ field.field }}</td>
                  </tr>
       {% endif %}
      {% if field.field.name == "latitud" %}
                  <tr>
                      <td> <label class="required" for="id_latitud">Latitud:</label></td>
                      <td> {{ field.field }}</td>
                  </tr>
       {% endif %}

       {% if field.field.name == "longitud" %}
                  <tr>
                      <td> <label class="required" for="id_longitud">Latitud:</label></td>
                      <td> {{ field.field }}</td>
                  </tr>
                </table>
           </div>
       {% endif %}



         {% if field.field.name == "descripcion" %}
              <div class="descripcion">
                 <div id="tituloCUADROS">
                    DESCRIPCIÓN
                </div>
                    <table width="100%" border="0px" cellpadding="0px" cellspacing="2px">
                        <tr>
                            <td colspan="2">
                             {{ field.field }}
                         </tr>
        {% endif %}

       {% if field.field.name == "porcentajeAvance" %}
              <tr>
                 <td><label class="required" for="id_porcentajeAvance">Avance:</label></td>
                  <td> {{ field.field }}</td>
              </tr>
       {% endif %}

      {% if field.field.name == "tipoObra" %}
              <tr>
                 <td><label class="required" for="id_tipoObra">Status:</label></td>
                  <td> {{ field.field }}</td>
              </tr>

       {% endif %}

      {% if field.field.name == "fechaInicio" %}
              <tr>
                 <td> <label class="required" for="id_fechaInicio">Fecha de Inicio:</label></td>
                  <td><input class="form-control2" id="id_fechaInicio" name="fechaInicio" type="text" placeholder="Desde" value="{{ field.field.value|default_if_none:"" }}"/></td>
              </tr>

       {% endif %}

       {% if field.field.name == "fechaTermino" %}
              <tr>
                 <td>  <label class="required" for="id_fechaTermino">Fecha de Término:</label></td>
                  <td> <input class="form-control2" id="id_fechaTermino" name="fechaTermino" type="text" placeholder="Hasta" value="{{ field.field.value|default_if_none:"" }}"/></td>
              </tr>
                 </table>
            </div>
       {% endif %}


       {% if field.field.name == "poblacionObjetivo" %}
           <!-- B E N E F I C I A R I O S-->
             <div class="beneficiarios">
               <div id="tituloCUADROS">
                    BENEFICIARIOS
                </div>
                    <table width="100%" border="0px" cellpadding="0px" cellspacing="2px">
                        <tr>
                          <td> <label class="required" for="id_poblacionObjetivo">Población Objetivo</label></td>
                          <td>{{ field.field }}</td>
                        </tr>
        {% endif %}

       {% if field.field.name == "totalBeneficiarios" %}
              <tr>
                 <td> <label class="required" for="id_totalBeneficiarios">Número de Beneficiarios:</label></td>
                  <td> {{ field.field }}</td>
              </tr>

       {% endif %}

          {% if field.field.name == "impacto" %}
              <tr>
                 <td> <label class="required" for="id_impacto">Impacto</label></td>
                  <td> {{ field.field }}</td>
              </tr>

       {% endif %}

         {% if field.field.name == "senalizacion" %}
              <tr>
                 <td> <label class="required" for="id_senalizacion">Señalización:</label></td>
                  <td> {{ field.field }}</td>
              </tr>
             </table>
            </div>

       {% endif %}



       {% if field.field.name == "tipoClasificacion" %}
              <!-- C L A S I F I C A C I O N-->
             <div class="clasificacion">
               <div id="tituloCUADROS">
                    CLASIFICACIÓN
                </div>
                    <table width="100%" border="0px" cellpadding="0px" cellspacing="5px">
                        <tr>
                          <td colspan="2">
                              {{ field.field }}
                          </td>
                        </tr>

        {% endif %}

        {% if field.field.name == "subclasificacion" %}
              <!-- C L A S I F I C A C I O N-->

                        <tr>
                          <td colspan="2">Subclasificación
                              {{ field.field }}
                          </td>
                        </tr>
                    </table>
             </div>
        {% endif %}







        {% if field.field.name == "registroHacendario" %}
            <!-- I N V E R S I O N-->

       <div class="inversion" style="overflow:scroll;">
        <div id="tituloCUADROS">
                INVERSION
        </div>
           <div class="inversionin">
                <table width="100%" border="0px" cellpadding="0px" cellspacing="2px">
                <tr>
                    <td width="60%">  <label for="id_registroHacendario"> Registro de Cartera de Inversión:</label></td>
                    <td widht="40%">  {{ field.field }}</td>
                </tr>
             <tr>
                    <td width="60%">  <label class="required" for="id_montoRegistroHacendario"> Recursos Federales Autorizados:</label></td>
                    <td width="40%">  {{ field.field }}</td>
                </tr>

        {% endif %}



        {% if field.field.name == "inversionTotal" %}
                <tr>
                    <td><label class="required" for="id_inversionTotal">Inversión Total:</label></td>
                    <td>{{ field.field }}</td>
                </tr>
        {% endif %}
        {% if field.field.name == "tipoMoneda" %}
                <tr>
                    <td>
                        Tipo de moneda:
                    </td>
                    <td >

                    {% for radio in field.field %}
                                     {{ radio   }}
                       {% endfor %}
                    </td>


                </tr>
             </table>
             </div>
         </div>
        {% endif %}

        {% if field.field.name == "susceptibleInauguracion" %}
             <!-- I N A U G U R A C I O N-->
            <div class="inauguracion">
               <div id="tituloCUADROS">
                    INAUGURACIÓN
                </div>
                <table width="100%" border="0px" cellpadding="0px" cellspacing="0px">
                   <!--  <tr>
                        <td colspan="2">
                       { field.field }}
                        </td>
                    </tr>-->
        {% endif %}

        {% if field.field.name == "inaugurada" %}
            <tr>
               <td colspan="2"> {{ field.field }}</td>

            </tr>
        {% endif %}

          {% if field.field.name == "inaugurador" %}
            <tr>
               <td>  <label class="required" for="id_inaugurador">Inaugurador:</label></td>
               <td>{{ field.field }}</td>
            </tr>
              </table>
              </div>
        {% endif %}

         {% if field.field.name == "observaciones" %}
             <!-- O B S E R V A C I O N E S -->
            <div class="observaciones">
                   <div id="tituloCUADROS">
                        OBSERVACIONES
                 </div>
                 <table width="100%" border="0px" cellpadding="0px" cellspacing="2px">
                        <tr>
                            <td colspan="2">
                                <div id="observaciones">
                             {{ field.field }}
                                    </div>
                            </td>

                         </tr>
                </table>
             </div>
        {% endif %}

       {% if field.field.name == "fotoAntes" %}
            <div class="fotografias">
               <div id="tituloCUADROS">
                    FOTOGRAFÍAS
                </div>
                <table width="100%" border="0px" cellpadding="0px" cellspacing="2px">
                        <tr>
                            <td><label for="id_fotoAntes">Antes:</label></td>
                            <td>{{ field.field }}</td>
                         </tr>
        {% endif %}

        {% if field.field.name == "fotoDurante" %}
                        <tr>
                            <td><label for="id_fotoDurante">Durante:</label></td>
                            <td> {{ field.field }}</td>
                         </tr>
        {% endif %}

         {% if field.field.name == "fotoDespues" %}
                        <tr>
                            <td><label for="id_fotoDespues">Después:</label></td>
                            <td>  {{ field.field }}</td>
                         </tr>
                </table>
             </div>
        {% endif %}

        {% if field.field.name == "autorizada" %}
              <div class="pie">
                  <table width="100%" border="0px" cellpadding="0px" cellspacing="2px">
                        <tr>
                            <td> <input id="id_autorizada" name="autorizada" type="radio" value="true" {{ field.field.value|default_if_none:"" }}/> Autorizar cambios</td>
                            <td> <input id="id_autorizada" name="autorizada" type="radio" value="false" {{ field.field.value|default_if_none:"" }}/> Denegar cambios  </td>
                         </tr>
                  </table>
              </div>

        {% endif %}

     {% endfor %}
   {% endfor %}
        <div class="submitlineObra">
                <!--<div class="eliminarOBTN" onclick="location.href='/admin/obras/obra/{ original.pk }}/delete';"></div>-->
                <div class="salirOBTN" onclick="location.href='/obras/movimientos'"></div>
                <div class="guardarOBTN" onclick="document.getElementById('{{ opts.model_name }}_form').submit('_save');"></div>
        </div>


</fieldset>





 {% for inline_admin_formset in inline_admin_formsets %}
    {% if inline_admin_formset.formset.prefix == "detalleclasificacion_set" %}
      <!-- CLASIFICACION-->
    <div class="clasificacion" style="overflow:scroll;">
                <div id="tituloCUADROS">
    	            CLASIFICACION
                </div>


           <table>
                <tr class="form-row row1">
                      <td class="field-descripcion" colspan="2">
                                 {# inline_admin_formset.opts.template = admin/edit_inline/tabular.html #}
                                {#   include inline_admin_formset.opts.template #}

                          {% include "admin/obras/obra/tabularcl.html"  %}

                      </td>

                </tr>
            </table>
   </div>
 {% endif %}
     {% if inline_admin_formset.formset.prefix == "documentofuente_set" %}
         <div class="documentos" style="overflow:scroll;">
        <div id="tituloCUADROS">
                DOCUMENTOS FUENTE
        </div>

           <table>
                <tr class="form-row row1">
                      <td class="field-descripcion" colspan="2">
                                 {# inline_admin_formset.opts.template = admin/edit_inline/tabular.html #}
                                {#   include inline_admin_formset.opts.template #}
                          {% include "admin/obras/obra/tabular.html"  %}
                      </td>

                </tr>
            </table>
   </div>
    {% endif %}

      {% if inline_admin_formset.formset.prefix == "detalleinversion_set" %}

        <div class="inversionup" style="overflow:scroll; height:80px;">

                                   {% for inline_admin_formset in inline_admin_formsets %}

                                       {% if inline_admin_formset.formset.prefix == "detalleinversion_set" %}
                                        {% include "admin/obras/obra/tabularin.html"  %}
                                       {% endif %}
                                   {% endfor %}
               </div>

{% endif %}
 {% endfor %}



