{% load app_filters admin_static%}

<style>
.texto {
    font: 90% 'soberana_sanslight';
}

.test {
      position: relative;
      top: 2px;
      height: 99%;
      overflow: auto;
      width:99%;
}
.scrollInversion{
      position: relative;
      top: 2px;
      height: 98%;
      overflow: auto;
      width:99%;
}

.scrollFotos{
      position: relative;
      top: 0px;
      height: 70%;
      overflow: scroll;
      width:99%;
}
.scrollDocumentos{
      position: relative;
      top: 0px;
      height: 75%;
      overflow: auto;
      width:99%;
}
.scrollDescripcion{
      position: relative;
      top: 0px;
      height: 99%;
      overflow: auto;
      width:99%;

}
.scrollObservaciones{
      position: relative;
      top: 0px;
      height: 99%;
      overflow: auto;
      width:99%;
}

</style>

<fieldset class="module aligned {{ fieldset.classes }}" style="border: 0px;">



      {% for line in fieldset %}
  {% for field in line %}

         {% if field.field.name == "identificador_unico" %}
              <div class="general" style="padding-bottom: 15px">
                <div id="logoDEP">

                </div>

                <div id="tituloCUADROS">
                    GENERAL
                </div>
                <div style="height: 70px"></div>

                <table width="100%" border="0px" cellpadding="0px" cellspacing="2px" >
                   <tr>
                      <td width="40%" class="texto">ID Único:<input type="hidden" id="idobraUNICO" value="{% if field.contents  != "(Nada)"  %} {{ field.contents }}{% endif %}"></td>
                      <td width="60%" class="texto">{% if field.contents  != "(Nada)"  %} {{ field.contents }}{% endif %}<label id="id_identificador_unico" name="identificador_unico" >{{ field.field.value|default_if_none:"" }}</label></td>
                  </tr>

         {% endif %}

         {% if field.field.name == "id_Dependencia" %}
                 <tr>
                      <td class="texto">ID interno:</td>
                      <td class="texto">{{ field.field }}
                         {% if field.errors %}
                             <img id="imgerr1" data-toggle="tooltip" data-placement="right"  title="{% for error in field.errors %}{{ error }}{% endfor %}" src="{% static "img/iconoExclamacion.gif" %}" width="15px" height="15px">
                         {% endif %}
                      </td>
                 </tr>

          {% endif %}

          {% if field.field.name == "denominacion" %}
                  <tr>
                      <td class="texto"> <label class="required" for="id_denominacion">Denominacion:</label></td>
                      <td class="texto"> {{ field.field|addcss:"texto"}}
                            {% if field.errors %}
                             <img id="imgerr2" data-toggle="tooltip" data-placement="right"  title="{% for error in field.errors %}{{ error }}{% endfor %}" src="{% static "img/iconoExclamacion.gif" %}" width="15px" height="15px">
                           {% endif %}
                      </td>
                  </tr>
          {% endif %}
         {% if field.field.name == "dependencia" %}
                  <tr>
                      <td class="texto">  <label class="required" for="id_dependencia">Dependencia:</label></td>
                      {% csrf_token %}
                      <td class="texto"> {{ field.field }}
                           {% if field.errors %}
                             <img id="imgerr3" data-toggle="tooltip" data-placement="right"  title="{% for error in field.errors %}{{ error }}{% endfor %}" src="{% static "img/iconoExclamacion.gif" %}" width="15px" height="15px">
                           {% endif %}</td>
                  </tr>
          {% endif %}
         {% if field.field.name == "subdependencia" %}
                  <tr >
                      <td class="texto">  <label class="required" for="id_subdependencia">SubDependencia:</label></td>
                      <td class="texto"> {{ field.field }}
                        {% if field.errors %}
                             <img id="imgerr4" data-toggle="tooltip" data-placement="right"  title="{% for error in field.errors %}{{ error }}{% endfor %}" src="{% static "img/iconoExclamacion.gif" %}" width="15px" height="15px">
                           {% endif %}
                      </td>
                  </tr>
         {% endif %}
        {% if field.field.name == "instanciaEjecutora" %}
                  <tr>
                      <td class="texto"> <label for="id_instanciaEjecutora">Instancia Ejecutora:</label></td>
                      <td class="texto"> {{ field.field }}
                          {% if field.errors %}
                             <img id="imgerr5" data-toggle="tooltip" data-placement="right"  title="{% for error in field.errors %}{{ error }}{% endfor %}" src="{% static "img/iconoExclamacion.gif" %}" width="15px" height="15px">
                           {% endif %}
                      </td>
                  </tr>
        {% endif %}
       {% if field.field.name == "estado" %}
                  <tr>
                      <td class="texto"> <label class="required" for="id_estado">Estado:</label></td>
                      <td class="texto"> {{ field.field }}
                            {% if field.errors %}
                             <img id="imgerr6" data-toggle="tooltip" data-placement="right"  title="{% for error in field.errors %}{{ error }}{% endfor %}" src="{% static "img/iconoExclamacion.gif" %}" width="15px" height="15px">
                           {% endif %}
                      </td>
                  </tr>
       {% endif %}
      {% if field.field.name == "municipio" %}
                  <tr>
                      <td class="texto"> <label class="required" for="id_municipio">Municipio:</label></td>
                      <td class="texto"> {{ field.field }}
                          {% if field.errors %}
                             <img id="imgerr7" data-toggle="tooltip" data-placement="right"  title="{% for error in field.errors %}{{ error }}{% endfor %}" src="{% static "img/iconoExclamacion.gif" %}" width="15px" height="15px">
                           {% endif %}
                      </td>
                  </tr>
       {% endif %}
      {% if field.field.name == "latitud" %}
                  <tr>
                      <td class="texto"> <label class="required" for="id_latitud">Latitud:</label></td>
                      <td class="texto"> {{ field.field }}
                            {% if field.errors %}
                             <img id="imgerr8" data-toggle="tooltip" data-placement="right"  title="{% for error in field.errors %}{{ error }}{% endfor %}" src="{% static "img/iconoExclamacion.gif" %}" width="15px" height="15px">
                           {% endif %}
                      </td>
                  </tr>
       {% endif %}

       {% if field.field.name == "longitud" %}
                  <tr>
                      <td class="texto"> <label class="required" for="id_longitud">Longitud:</label></td>
                      <td class="texto"> {{ field.field }}
                          {% if field.errors %}
                             <img id="imgerr9" data-toggle="tooltip" data-placement="right"  title="{% for error in field.errors %}{{ error }}{% endfor %}" src="{% static "img/iconoExclamacion.gif" %}" width="15px" height="15px">
                           {% endif %}
                      </td>
                  </tr>
                </table>
           </div>
       {% endif %}



         {% if field.field.name == "descripcion" %}
              <div class="descripcion">
                 <div id="tituloCUADROS">
                    DESCRIPCIÓN
                </div>

                    <table width="100%" border="0px" cellpadding="0px" cellspacing="2px">
                        <tr>
                            <td colspan="5" >
                             {{ field.field|add_attributes:"class:areadesc"  }}
                              {% if field.errors %}
                                 <img id="imgerr10" data-toggle="tooltip" data-placement="left"  title="{% for error in field.errors %}{{ error }}{% endfor %}" src="{% static "img/iconoExclamacion.gif" %}" width="15px" height="15px">
                               {% endif %}
                            </td>
                         </tr>
        {% endif %}

       {% if field.field.name == "porcentajeAvance" %}
              <tr>
                 <td width="10%" class="texto"><label class="required" for="id_porcentajeAvance">Avance:</label></td>
                  <td width="30%" class="texto" style="padding-left: 0px;"> {{ field.field|add_desc:"style=width:80%;"  }}
                          {% if field.errors %}
                             <img id="imgerr11" data-toggle="tooltip" data-placement="right"  title="{% for error in field.errors %}{{ error }}{% endfor %}" src="{% static "img/iconoExclamacion.gif" %}" width="15px" height="15px">
                           {% endif %}
                  </td>

       {% endif %}

      {% if field.field.name == "tipoObra" %}

                 <td width="10%" class="texto" style="padding-right: 0px;"><label class="required" for="id_tipoObra">Status:</label></td>
                  <td width="30%" class="texto" style="padding-left: 1px;"> {{ field.field|add_attributes:"class:statusfield" }}
                             {% if field.errors %}
                             <img id="imgerr12" data-toggle="tooltip" data-placement="left"  title="{% for error in field.errors %}{{ error }}{% endfor %}" src="{% static "img/iconoExclamacion.gif" %}" width="15px" height="15px">
                           {% endif %}
                  </td>
                  <td width="2%" class="texto" </td>
              </tr>

       {% endif %}

      {% if field.field.name == "fechaInicio" %}
              <tr><td colspan="5">
                    <table width="100%" class="texto"><tr>
                        <td width="40%" class="texto"> <label class="required" for="id_fechaInicio" style="font-size: 11px;">Fecha de Inicio:</label></td>

                        <td width="60%" class="texto">{{ field.field}}
                            {% if field.errors %}
                             <img id="imgerr13" data-toggle="tooltip" data-placement="right"  title="{% for error in field.errors %}{{ error }}{% endfor %}" src="{% static "img/iconoExclamacion.gif" %}" width="15px" height="15px">
                           {% endif %}
                        </td>
                    </tr></table>
              </td>
              </tr>

       {% endif %}

       {% if field.field.name == "fechaTermino" %}
              <tr><td colspan="5">
              <table width="100%"><tr>
                 <td width="40%" class="texto">  <label class="required" for="id_fechaTermino" style="font-size: 11px;">Fecha de Término:</label></td>
                  <td width="60%" class="texto"> {{ field.field }}
                     {% if field.errors %}
                         <img id="imgerr14" data-toggle="tooltip" data-placement="right"  title="{% for error in field.errors %}{{ error }}{% endfor %}" src="{% static "img/iconoExclamacion.gif" %}" width="15px" height="15px">
                     {% endif %}
                  </td>
               </tr></table>
              </td>
              </tr>
                 </table>
           </div>

       {% endif %}


       {% if field.field.name == "poblacionObjetivo" %}
           <!-- B E N E F I C I A R I O S-->
             <div class="beneficiarios">
               <div id="tituloCUADROS">
                    BENEFICIARIOS
                </div>
                    <table width="100%" border="0px" cellpadding="0px" cellspacing="0px">
                        <tr>
                          <td width="44%" class="texto"> <label class="required" for="id_poblacionObjetivo">Población Objetivo</label></td>
                          <td width="56%" class="texto">{{ field.field }}
                            {% if field.errors %}
                             <img id="imgerr15" data-toggle="tooltip" data-placement="right"  title="{% for error in field.errors %}{{ error }}{% endfor %}" src="{% static "img/iconoExclamacion.gif" %}" width="15px" height="15px">
                           {% endif %}
                          </td>
                        </tr>
        {% endif %}

       {% if field.field.name == "totalBeneficiarios" %}
              <tr>
                 <td width="40%" class="texto"> <label class="required" for="id_totalBeneficiarios">Número de Beneficiarios</label></td>
                  <td width="60%" class="texto"> {{ field.field }}
                    {% if field.errors %}
                             <img id="imgerr16" data-toggle="tooltip" data-placement="right"  title="{% for error in field.errors %}{{ error }}{% endfor %}" src="{% static "img/iconoExclamacion.gif" %}" width="15px" height="15px">
                    {% endif %}
                  </td>
              </tr>

       {% endif %}

          {% if field.field.name == "impacto" %}
              <tr>
                 <td width="40%" class="texto"> <label class="required" for="id_impacto">Impacto</label></td>
                  <td width="60%" class="texto"> {{ field.field }}
                    {% if field.errors %}
                             <img id="imgerr17" data-toggle="tooltip" data-placement="right"  title="{% for error in field.errors %}{{ error }}{% endfor %}" src="{% static "img/iconoExclamacion.gif" %}" width="15px" height="15px">
                           {% endif %}
                  </td>
              </tr>

       {% endif %}

         {% if field.field.name == "senalizacion" %}
              <tr>
                 <td width="40%" class="texto"> <label class="required" for="id_senalizacion">Señalización:</label></td>
                  <td width="60%" class="texto" style="alignment: top;"> {{ field.field }}
                    {% if field.errors %}
                             <img id="imgerr18" data-toggle="tooltip" data-placement="right"  title="{% for error in field.errors %}{{ error }}{% endfor %}" src="{% static "img/iconoExclamacion.gif" %}" width="15px" height="15px">
                           {% endif %}
                  </td>
              </tr>
             </table>
            </div>

       {% endif %}











        {% if field.field.name == "registroHacendario" %}
            <!-- I N V E R S I O N-->

       <div class="inversion">
        <div id="tituloCUADROS">
                INVERSION
        </div>
             <table width="100%">
                <tr class="form-row row1">
                   <td class="field-descripcion texto" width="60%" >
                       Seleccione Tipo de Inversión
                   </td>
                   <td class="field-descripcion texto" width="40%" align="center">
                       Monto
                   </td>
                </tr>
             </table>
           <div class="inversionin">
             <div data-spy="scroll" data-target=".navbar" data-offset="2" class="scrollInversion">
                <table width="100%" border="0px" cellpadding="0px" cellspacing="2px">
                    <tr>
                        <td width="58%" class="texto" style="padding-right:0px;">  <label for="id_registroHacendario"> Registro de Cartera de Inversión:</label></td>
                        <td widht="42%" class="texto">  {{ field.field }}
                          {% if field.errors %}
                                 <img id="imgerr19" data-toggle="tooltip" data-placement="right"  title="{% for error in field.errors %}{{ error }}{% endfor %}" src="{% static "img/iconoExclamacion.gif" %}" width="15px" height="15px">
                               {% endif %}
                        </td>
                    </tr>
         {% endif %}
         {% if field.field.name == "montoRegistroHacendario" %}

                    <tr>
                        <td width="58%" class="texto" style="padding-right:0px;">  <label class="required" for="id_montoRegistroHacendario"> Recursos Federales Autorizados:</label></td>
                        <td width="42%" class="texto">  {{ field.field }}
                          {% if field.errors %}
                                 <img id="imgerr20" data-toggle="tooltip" data-placement="right"  title="{% for error in field.errors %}{{ error }}{% endfor %}" src="{% static "img/iconoExclamacion.gif" %}" width="15px" height="15px">
                               {% endif %}
                        </td>
                    </tr>

        {% endif %}



        {% if field.field.name == "inversionTotal" %}

                <tr>
                    <td class="texto"style="padding-right:1px;"><label class="required" for="id_inversionTotal">Inversión Total:</label></td>
                    <td class="texto">{{ field.field }}</td>
                </tr>
        {% endif %}
        {% if field.field.name == "tipoMoneda" %}
                <tr>
                    <td class="texto">
                        Tipo de moneda:
                    </td>
                    <td class="texto">
                    {% for radio in field.field %}
                                     {{ radio   }}
                       {% endfor %}
                      {% if field.errors %}
                             <img id="imgerr21" data-toggle="tooltip" data-placement="right"  title="{% for error in field.errors %}{{ error }}{% endfor %}" src="{% static "img/iconoExclamacion.gif" %}" width="15px" height="15px">
                           {% endif %}
                    </td>


                </tr>
             </table>
             </div>
           </div>
         </div>
        {% endif %}

        {% if field.field.name == "susceptibleInauguracion" %}
             <!-- I N A U G U R A C I O N-->
            <div class="inauguracion">
               <div id="tituloCUADROS">
                    INAUGURACIÓN
                </div>
                <table width="100%" border="0px" cellpadding="0px" cellspacing="0px">
                   <!--  <tr>
                        <td colspan="2">
                       { field.field }}
                        </td>
                    </tr>-->
        {% endif %}

        {% if field.field.name == "inaugurada" %}
            <tr>
               <td colspan="2">
                   <table border="0" width="100%">
                       <tr>
                           {% for l in field.field %}
                                <td width="20%" class="required" style="font-size: 11px;">
                                    {{ l }}
                                </td>
                            {% endfor %}
                       </tr>
                   </table>
                      {% if field.errors %}
                             <img id="imgerr22" data-toggle="tooltip" data-placement="right"  title="{% for error in field.errors %}{{ error }}{% endfor %}" src="{% static "img/iconoExclamacion.gif" %}" width="15px" height="15px">
                           {% endif %}
                </td>
            </tr>
        {% endif %}

          {% if field.field.name == "inaugurador" %}
            <tr>
               <td class="texto" width="40%">  <label class="required" for="id_inaugurador">Inaugurador:</label></td>
               <td class="texto" width="60%">{{ field.field }}
                  {% if field.errors %}
                             <img id="imgerr23" data-toggle="tooltip" data-placement="right"  title="{% for error in field.errors %}{{ error }}{% endfor %}" src="{% static "img/iconoExclamacion.gif" %}" width="15px" height="15px">
                           {% endif %}
               </td>
            </tr>
              </table>
              </div>
        {% endif %}

         {% if field.field.name == "observaciones" %}
             <!-- O B S E R V A C I O N E S -->
            <div class="observaciones">
                   <div id="tituloCUADROS">
                        OBSERVACIONES
                 </div>

                 <table width="100%" border="0px" cellpadding="0px" cellspacing="2px">
                        <tr>
                            <td colspan="2" class="texto">
                                <div id="observaciones">
                             {{ field.field|add_attributes:"class:areaobs" }}
                                      {% if field.errors %}
                             <img id="imgerr24" data-toggle="tooltip" data-placement="right"  title="{% for error in field.errors %}{{ error }}{% endfor %}" src="{% static "img/iconoExclamacion.gif" %}" width="15px" height="15px">
                           {% endif %}
                                    </div>
                            </td>

                         </tr>
                </table>
             </div>

        {% endif %}

       {% if field.field.name == "fotoAntes" %}
            <div class="fotografias">
               <div id="tituloCUADROS">
                    FOTOGRAFÍAS
                </div>
            <div data-spy="scroll" data-target=".navbar" data-offset="2" class="scrollFotos">
                <table width="100%" border="0px" cellpadding="0px" cellspacing="2px">
                        <tr>
                            <td width="32%" class="texto"><label for="id_fotoAntes">Antes:</label></td>
                            <td width="68%" class="texto">{{ field.field|add_desc:"inside"  }}
                                   {% if field.errors %}
                                   <img id="imgerr25" data-toggle="tooltip" data-placement="right"  title="{% for error in field.errors %}{{ error }}{% endfor %}" src="{% static "img/iconoExclamacion.gif" %}" width="15px" height="15px">
                                  {% endif %}
                            </td>
                         </tr>
        {% endif %}

        {% if field.field.name == "fotoDurante" %}
                        <tr>
                            <td width="20%" class="texto"><label for="id_fotoDurante">Durante:</label></td>
                            <td width="80%" class="texto"> {{ field.field |add_desc:"inside" }}
                              {% if field.errors %}
                             <img id="imgerr26" data-toggle="tooltip" data-placement="right"  title="{% for error in field.errors %}{{ error }}{% endfor %}" src="{% static "img/iconoExclamacion.gif" %}" width="15px" height="15px">
                           {% endif %}
                            </td>
                         </tr>
        {% endif %}

         {% if field.field.name == "fotoDespues" %}
                        <tr>
                            <td width="20%" class="texto"><label for="id_fotoDespues">Después:</label></td>
                            <td width="80%" class="texto">  {{ field.field |add_desc:"inside" }}
                              {% if field.errors %}
                             <img id="imgerr27" data-toggle="tooltip" data-placement="right"  title="{% for error in field.errors %}{{ error }}{% endfor %}" src="{% static "img/iconoExclamacion.gif" %}" width="15px" height="15px">
                           {% endif %}
                            </td>
                         </tr>
                </table>
               </div>
             </div>
        {% endif %}

        {% if field.field.name == "autorizada" %}
              <div class="pie">
                  <table width="100%" border="0px" cellpadding="0px" cellspacing="2px">
                        <tr>
                            <td colspan="2" class="texto">  {{field.field|add_attributes:"checked:true" }} Autorizar cambios</td>
                         </tr>
                  </table>
              </div>

        {% endif %}

     {% endfor %}
   {% endfor %}
        <div class="submitlineObra">
                <!--<div class="eliminarOBTN" onclick="location.href='/admin/obras/obra/{ original.pk }}/delete';"></div>-->
                <div class="salirOBTN" onclick="location.href='/obras/movimientos'"></div>
                <div class="guardarOBTN" onclick="document.getElementById('{{ opts.model_name }}_form').submit('_save');"></div>
        </div>


</fieldset>





 {% for inline_admin_formset in inline_admin_formsets %}
    {% if inline_admin_formset.formset.prefix == "detalleclasificacion_set" %}
      <!-- CLASIFICACION-->
    <div class="clasificacion">
                <div id="tituloCUADROS">
    	            CLASIFICACION
                </div>
         <table width="100%">
        <tr class="form-row row1">
                   <td class="field-descripcion texto" width="60%" >
                       Seleccione Tipo de Clasificación
                   </td>
                   <td class="field-descripcion texto" width="40%"  align="center">
                       Subclasificación
                   </td>
               </tr>
             </table>
<div class="clasificacionin" >
    <div data-spy="scroll" data-target=".navbar" data-offset="2" class="test">
           <table width="100%">

                <tr class="form-row row1">

                      <td class="field-descripcion texto" colspan="2" width="100%">
                                 {# inline_admin_formset.opts.template = admin/edit_inline/tabular.html #}
                                {#   include inline_admin_formset.opts.template #}

                          {% include "admin/obras/obra/tabularcl.html"  %}

                      </td>

                </tr>
            </table>
    </div>
</div>
   </div>
 {% endif %}
     {% if inline_admin_formset.formset.prefix == "documentofuente_set" %}
         <div class="documentos">
        <div id="tituloCUADROS">
                DOCUMENTOS FUENTE
        </div>
        <div data-spy="scroll" data-target=".navbar" data-offset="2" class="scrollDocumentos">
           <table width="100%">
                <tr class="form-row row1">
                      <td  width="100%" class="field-descripcion texto" colspan="2">
                                 {# inline_admin_formset.opts.template = admin/edit_inline/tabular.html #}
                                {#   include inline_admin_formset.opts.template #}
                          {% include "admin/obras/obra/tabular.html"  %}
                      </td>

                </tr>
            </table>
        </div>
   </div>
    {% endif %}

      {% if inline_admin_formset.formset.prefix == "detalleinversion_set" %}

        <div class="inversionup">
           <div data-spy="scroll" data-target=".navbar" data-offset="2" class="scrollInversion">

                                   {% for inline_admin_formset in inline_admin_formsets %}

                                       {% if inline_admin_formset.formset.prefix == "detalleinversion_set" %}
                                        {% include "admin/obras/obra/tabularin.html"  %}
                                       {% endif %}
                                   {% endfor %}
           </div>
        </div>

{% endif %}
 {% endfor %}



