<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<ul>
    <li><a>total_obras_2013 {{ total_obras_2013 }}</a></li>
    <li><a>total_invertido_2013 {{ total_invertido_2013 }}</a></li>
    <li><a>total_obras_2014 {{ total_obras_2014 }}</a></li>
    <li><a>total_invertido_2014 {{ total_invertido_2014 }}</a></li>
    <li><a>total_obras_proceso {{ total_obras_proceso }}</a></li>
    <li><a>total_invertido_proceso {{ total_invertido_proceso }}</a></li>
    <li><a>total_obras_proyectadas {{ total_obras_proyectadas }}</a></li>
    <li><a>total_invertido_proyectadas {{ total_invertido_proyectadas }}</a></li>
    <li><a>total_obras {{ total_obras }}</a></li>
    <li><a>total_invertido {{ total_invertido }}</a></li>
</ul>


</body>
</html>