<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<ul>
    <li><a>total_obras_proyectadas {{ total_obras_proyectadas }}</a></li>
    <li><a>total_obras_proceso {{ total_obras_proceso }}</a></li>
    <li><a>total_obras_concluidas {{ total_obras_concluidas }}</a></li>
    <li><a>total_invertido_proyectadas {{ total_invertido_proyectadas }}</a></li>
    <li><a>total_invertido_proceso {{ total_invertido_proceso }}</a></li>
    <li><a>total_invertido_concluidas {{ total_invertido_concluidas }}</a></li>
</ul>


</body>
</html>