<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>


    <script type="text/javascript" src="../../static/assets/tablesorter/jquery-latest.min.js"></script>

    <link class="ui-theme" rel="stylesheet" href="../../static/assets/tablesorter/css/jquery-ui.min.css">
    <script type="text/javascript" src="../../static/assets/tablesorter/jquery-ui.min.js"></script>
    <link class="ui-theme" rel="stylesheet" href="../../static/assets/tablesorter/css/jq.css">
    <link class="ui-theme" rel="stylesheet" href="../../static/assets/tablesorter/css/prettify.css">
    <script type="text/javascript" src="../../static/assets/tablesorter/js/prettify.js"></script>
    <script type="text/javascript" src="../../static/assets/tablesorter/js/docs.js"></script>

    <link class="ui-theme" rel="stylesheet" href="../../static/assets/tablesorter/css/jquery-ui.min.css">
    <link class="theme blue" rel="stylesheet" href="../../static/assets/tablesorter/themes/blue/theme.blue.css">

    <script type="text/javascript" src="../../static/assets/tablesorter/jquery.tablesorter.js"></script>
    <script src="../../static/assets/tablesorter/jquery.tablesorter.widgets.js"></script>
	<script type="text/javascript" src="../../static/assets/tablesorter/widget-pager.js"></script>
    <script src="../../static/assets/tablesorter/widget-scroller.js"></script>

    <script id="js" type="text/javascript">

	$(function() {

        $('.tablesorter').tablesorter({
		theme: 'blue',
		// widthFixed: true, // <- now automatically set by the scroller widget
		showProcessing: true,
		headerTemplate : '{content} {icon}',
		widgets: [ 'uitheme', 'zebra', 'pager', 'scroller' ],
		widgetOptions : {
			scroller_height : 300,
			// scroll tbody to top after sorting
			scroller_upAfterSort: true,
			// pop table header into view while scrolling up the page
			scroller_jumpToHeader: true,
			// In tablesorter v2.19.0 the scroll bar width is auto-detected
			// add a value here to override the auto-detected setting
			scroller_barWidth : null
			// scroll_idPrefix was removed in v2.18.0
			// scroller_idPrefix : 's_'
		}
    });


	});
	</script>


    <link rel="stylesheet" type="text/css" href="../../static/assets/jquery-mulsel/css/jquery.multiselect.css" />
    <link rel="stylesheet" type="text/css" href="../../static/assets/jquery-mulsel/css/style.css" />
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css" />



    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.js"></script>
    <script type="text/javascript" src="../../static/assets/jquery-mulsel/js/jquery.multiselect.js"></script>


    <link rel="stylesheet" type="text/css" href="../../static/assets/bootstrap/css/bootstrap.css" />

    <script type="text/javascript">
        var $l = jQuery.noConflict();

    $l(function(){
        $l("#ajaxProgress").hide();

        // off
        $l("#msEstatusObra").multiselect({
            header: true,
            checkAllText: 'Marcar todos',
            uncheckAllText: 'Desmarcar todos',
            noneSelectedText: 'Status de la obra',
            selectedText: '# Status de la obra'

        });
        // off
        $l("#msDependencias").multiselect({
            header: true,
            checkAllText: 'Marcar todas',
            uncheckAllText: 'Desmarcar todas',
            noneSelectedText: 'Dependencias',
            selectedText: '# Dependencias'

        });
        // off
        $l("#msEstados").multiselect({
            header: true,
            checkAllText: 'Marcar todos',
            uncheckAllText: 'Desmarcar todos',
            noneSelectedText: 'Estados',
            selectedText: '# Estados'
        });
        // off
        $l("#msTipoInversion").multiselect({
            header: true,
            checkAllText: 'Marcar todos',
            uncheckAllText: 'Desmarcar todos',
            noneSelectedText: 'Tipo de Inversión',
            selectedText: '# Tipos de Inversión'
        });


        // off
        $l("#msClasificacion").multiselect({
            header: true,
            checkAllText: 'Marcar todas',
            uncheckAllText: 'Desmarcar todas',
            noneSelectedText: 'Clasificación',
            selectedText: '# Clasificaciones'
        });
        // off
        $l("#msImpacto").multiselect({
            header: true,
            checkAllText: 'Marcar todos',
            uncheckAllText: 'Desmarcar todos',
            noneSelectedText: 'Impacto',
            selectedText: '# Impactos'
        });
        // off
        $l("#msInaugurador").multiselect({
            header: true,
            checkAllText: 'Marcar todos',
            uncheckAllText: 'Desmarcar todos',
            noneSelectedText: 'Inaugurador',
            selectedText: '# Inauguradores'
        });


    });
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>

     <script type="text/javascript" src="../../static/assets/js/ajax-consulta.js"></script>
 <script type="text/javascript">
         google.maps.event.addDomListener(window, 'load', initialize);
         function initialize() {
          var mapOptions = {
            zoom: 4,
            center: new google.maps.LatLng(22.6526121, -100.1780452),
              mapTypeId: google.maps.MapTypeId.SATELLITE
          }
          var map = new google.maps.Map(document.getElementById('map-canvas'),
                                        mapOptions);
          var map2 = new google.maps.Map(document.getElementById('mapa'),
                                        mapOptions);

          //setMarkers(map, beaches);
        }

    </script>

<style>
	body{
		font: 100% "Trebuchet MS", sans-serif;
		margin: 50px;
	}
	.demoHeaders {
		margin-top: 2em;
	}
	#dialog-link {
		padding: .4em 1em .4em 20px;
		text-decoration: none;
		position: relative;
	}
	#dialog-link span.ui-icon {
		margin: 0 5px 0 0;
		position: absolute;
		left: .2em;
		top: 50%;
		margin-top: -8px;
	}
	#icons {
		margin: 0;
		padding: 0;
	}
	#icons li {
		margin: 2px;
		position: relative;
		padding: 4px 0;
		cursor: pointer;
		float: left;
		list-style: none;
	}
	#icons span.ui-icon {
		float: left;
		margin: 0 4px;
	}
	.fakewindowcontain .ui-widget-overlay {
		position: absolute;
	}
	.selectResponsive {
		max-width: 100%;
        height: auto;
	}


	</style>

    <link href="../../static/assets/bootstrap/css/bootstrap-datepicker3.min.css" rel="stylesheet">


    <style type="text/css">
#containerGrafica {
	height: 400px;
    width: 800px;
	min-width: 310px;
	max-width: 800px;
	margin: 0 auto;
}


        /**
 * Fade-zoom animation for first dialog
 */

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;



	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;

	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);

	opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}



/**
 * Fade-move animation for second dialog
 */

/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

	-webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );

}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	-moz-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	-ms-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	-o-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	transform: translateY(0) perspective( 600px ) rotateX( 0 );
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;

	-webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	-moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	-ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	-o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;

	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}


		</style>

    <!-- Magnific Popup core CSS file -->
<link rel="stylesheet" href="../../static/assets/Popup/magnific-popup.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!-- Magnific Popup core JS file -->
<script src="../../static/assets/Popup/jquery.magnific-popup.js"></script>
<!-- Magnific Popup core CSS file -->
<link rel="stylesheet" href="../../static/assets/Popup/site.css">
<script>

var $pp = jQuery.noConflict();

$pp(function () {
	  $pp('.popup-modal').magnificPopup({
	    type: 'inline',
	    preloader: false,
	    modal: true,
          fixedContentPos: false,
		fixedBgPos: true,

		overflowY: 'auto',

		closeBtnInside: true,
		preloader: false,

		midClick: true,
		removalDelay: 300,
		mainClass: 'my-mfp-zoom-in'
	  });
	  $pp(document).on('click', '.popup-modal-dismiss', function (e) {
	    e.preventDefault();
	    $pp.magnificPopup.close();
	  });

      $pp('#container2').highcharts({
        chart: {
            type: 'column',
            margin: 75,
            options3d: {
                enabled: true,
                alpha: 10,
                beta: 25,
                depth: 70
            }
        },
        title: {
            text: '3D chart with null values'
        },
        subtitle: {
            text: 'Notice the difference between a 0 value and a null point'
        },
        plotOptions: {
            column: {
                depth: 25
            }
        },
        xAxis: {
            categories: Highcharts.getOptions().lang.shortMonths
        },
        yAxis: {
            title: {
                text: null
            }
        },
        series: [{
            name: 'Sales',
            data: [2, 3, null, 4, 0, 5, 1, 50, 6, 3]
        }]
    });
});

</script>
<script src="../../static/assets/graficas/highcharts/js/highcharts.js"></script>
<script src="../../static/assets/graficas/highcharts/js/highcharts-3d.js"></script>
    <script src="../../static/assets/graficas/highcharts/js/highcharts-more.js"></script>
    <script src="../../static/assets/graficas/highcharts/js/themes/grid-light.js"></script>
<script src="../../static/assets/graficas/highcharts/js/modules/exporting.js"></script>

</head>
<body>
   <header>
		<!--<!DOCTYPE><h1>PARÁMETROS DE CONSULTA</h1> -->
	</header>
    <div id="container2" style="width:100%;height: 400px;" class="white-popup-block mfp-hide"></div>

    <div id="test-modal" class="white-popup-block mfp-hide" >
			<h1>GR&Aacute;FICAS</h1>


             <div class="row">
                   <div class="col-md-3">
                       <fieldset>
                           <div class="row"><div class="col-xs-4">
                               Dependencia
                               </div>
                               <div class="col-xs-2">
                                   <article id="ver_grafica_dependencia">
                                       {% csrf_token %}
                                        <input type="radio" name="graficaTipo" id="dependencia" value="Dependencia" checked/>
                                    </article>
                               </div>
                           </div>
                           <div class="row"><div class="col-xs-4">
                               Estado
                               </div>
                               <div class="col-xs-2">
                                   <article id="ver_grafica_estado">
                                       {% csrf_token %}
                                        <input type="radio" name="graficaTipo" id="estado" value="Estado"/>
                                    </article>
                               </div>
                           </div>
                           <div class="row"><div class="col-xs-4">
                               RCI
                               </div>
                               <div class="col-xs-2">
                                   <article id="ver_grafica_rci">
                                       {% csrf_token %}
                                        <input type="radio" name="graficaTipo" id="estado" value="RCI"/>
                                    </article>
                               </div>
                           </div>
                        </fieldset>
                   </div>
                   <div  class="col-md-8" id="containerGrafica" >
                   </div>
             </div>
             <div class="row">
                   <div class="col-md-6" id="divTablaGrafica"  >
                 </div>
             </div>




             <input type="button" value="Regresar" class="popup-modal-dismiss btn btn-primary fancybox-media italic" />
	</div>

	<section id="wrapper">
		<section id="side">
            <div class="container-fluid" >
                <div class="rowP">
                    <div class="col-md-12">
                        <h4>PARÁMETROS DE CONSULTA</h4>
                    </div>
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-md-12">
                                <center><label>Registro de Cartera de Inversi&oacute;n</label></center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"><center>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> SI
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> NO
                                </label></center>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <center><label>Rango de Fecha de Inicio</label></center>
                            </div>
                        </div>
                        <div class="row"><center>
                            <div class="col-md-6"><div id="pick" class="form-group">
                                <input type="text" class="form-control" id="fechaInicial1" placeholder="Desde">
                            </div></div></center>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="fechaInicial2" placeholder="Hasta">
                            </div></center>
                        </div>
                        <div class="row">
                            <div class="col-md-12" >
                                <center><label>Rango de Fecha de T&eacute;rmino</label></center>
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 7px;"><center>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="fechaFinal1" placeholder="Desde">
                            </div></center>

                            <div class="col-md-6">
                                <input type="text" class="form-control" id="fechaFinal2" placeholder="Hasta">
                            </div></center>
                        </div>

                    </div>

                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-md-10">
                                <select id="msTipoInversion" multiple="multiple"  style="width: 100%;height: auto;">
                                    {% for obj in tipo_inversiones %}
                                         <option value={{obj.id}}>{{obj.nombreTipoInversion}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <center><label>Rango de Inversi&oacute;n</label></center>
                            </div>
                        </div>
                        <div class="row"><center>
                            <div class="col-md-2">
                                <span class="input-label">De:</span>
                            </div>
                            <div class="col-md-8">
                                <label class="item item-input">
                                    <input type="text" class="form-control" id="inversionInicial" placeholder="0.00">
                                </label>
                            </div></center>
                            <div class="col-md-2">
                                <span class="input-label">MDP</span>
                            </div>
                        </div>
                        <div class="row"><center>
                            <div class="col-md-2">
                                <span class="input-label">A:</span>
                            </div>
                            <div class="col-md-8">
                                <label class="item item-input">
                                    <input type="text" class="form-control" id="inversionFinal" placeholder="0.00">
                                </label>
                            </div></center>
                            <div class="col-md-2">
                                <span class="input-label">MDP</span>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-10">

                                <select id="msEstatusObra" multiple="multiple" style="width: 100%;height: auto;">
                                    {% for obj in estatusObra %}
                                         <option value={{obj.id}}>{{obj.nombreTipoObra}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <select id="msDependencias" multiple="multiple" style="width: 100%;height: auto;">
                                    {% for dep in dependencias %}
                                         <option value={{dep.id}}>{{dep.nombreDependencia}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <select id="msEstados" multiple="multiple"  style="width: 100%;height: auto;">
                                    {% for obj in estados %}
                                         <option value={{obj.id}}>{{obj.nombreEstado}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-10">

                                <select id="msClasificacion" multiple="multiple" style="width: 100%;height: auto;">
                                    {% for obj in clasificacion %}
                                         <option value={{obj.id}}>{{obj.nombreTipoClasificacion}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <select id="msImpacto" multiple="multiple" style="width: 100%;height: auto;">
                                    {% for dep in impactos %}
                                         <option value={{dep.id}}>{{dep.nombreImpacto}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <select id="msInaugurador" multiple="multiple" style="width: 100%;height: auto;">
                                    {% for obj in inaugurador %}
                                         <option value={{obj.id}}>{{obj.nombreCargoInaugura}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-md-12">
                                <article id="ver_datos">
                                    {% csrf_token %}
                                    <button id="button">Ver datos</button>
                                </article>
                                <article id="ver_variable">
                                    {% csrf_token %}
                                    <button id="button">Ver variable</button>
                                </article>
                            </div>
                        </div>


                    </div>

                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-md-10">
                                <span class="input-label">Inauguradas</span>
                            </div>
                            <div class="col-md-2">
                                <input type="checkbox" id="inauguradas" value="option1">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <span class="input-label">Sin Inauguraci&oacute;n</span>
                            </div>
                            <div class="col-md-2">
                                <input type="checkbox" id="sinInauguracion" value="option2">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <span class="input-label">No Inauguradas</span>
                            </div>
                            <div class="col-md-2">
                                <input type="checkbox" id="noInauguradas" value="option3">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
		</section>
    </section>
   <br>
   <div class="row">
       <div class="col-md-3-box" id="datos" style="margin-right: 10px; padding-right: 4px;padding-left: 4px">
           <h4>RESULTADOS</h4>

               <table cellspacing="1" class="tablesorter" id="tablaIzquierda">
                    <thead>

                        <tr>
                            <th>Id</th>
                            <th>Denominaci&oacute;n</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Denominaci&oacute;n</th>
                            <th>Estado</th>
                        </tr>
                        <tr><td class="pager" id="pagerI" colspan="3">
                        <img src="../../static/assets/tablesorter/addons/pager/icons/first.png" class="first" id="firstI"/>
                        <img src="../../static/assets/tablesorter/addons/pager/icons/prev.png" class="prev" id="prevI"/>
                        <span class="pagedisplay" id="pagedisplayI"></span>
                        <img src="../../static/assets/tablesorter/addons/pager/icons/next.png" class="next" id="nextI"/>
                        <img src="../../static/assets/tablesorter/addons/pager/icons/last.png" class="last" id="lastI"/>
                        <select class="pagesize" id="pagesizeI">
                        <option selected="selected"  value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option  value="40">40</option>
                        </select></td></tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
               </table>
       </div >
       <div class="col-md-6-box" >
           <div class="row">
               <div class="col-md-3">
                   <h4>MAPA</h4>
               </div>

               <div class="col-md-9" id="ajaxProgress">
                    cargando...<img src="../../static/gifs/loading-barra2.gif">
               </div>
           </div>
           <div id="map-canvas" style="height: 343px;margin: 0px;padding: 0px;">
           </div>
           <br>
       </div>
       <div class="col-md-3-box"  style="margin-left: 10px; padding-right: 4px;padding-left: 4px">
           <div class="row">
               <div class="col-md-12" id="datostablaDerecha">
                    <h4>REPORTE</h4>
                    <table cellspacing="1" class="tablesorter" id="tablaDer">
                    <thead>

                        <tr>
                            <th>Tipo Inversi&oacute;n</th>
                            <th>No. de Obras</th>
                            <th>Monto</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Tipo Inversi&oacute;n</th>
                            <th>No. de Obras</th>
                            <th>Monto</th>
                        </tr>
                        <tr><td class="pager" id="pager2" colspan="3">
                        <img src="../../static/assets/tablesorter/addons/pager/icons/first.png" class="first"/>
                        <img src="../../static/assets/tablesorter/addons/pager/icons/prev.png" class="prev"/>
                        <span class="pagedisplay"></span>
                        <img src="../../static/assets/tablesorter/addons/pager/icons/next.png" class="next"/>
                        <img src="../../static/assets/tablesorter/addons/pager/icons/last.png" class="last"/>
                        <select class="pagesize">
                        <option selected="selected"  value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option  value="40">40</option>
                        </select></td></tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                    </tbody>
                    </table>
               </div>
           </div>
           <div class="row">
               <div class="col-md-12">
                    <fieldset>
               <div class="row"><div class="col-xs-8">
                   Dependencia
                   </div>
                   <div class="col-xs-4">
                       <article id="ver_tabla_dependencia">
                           {% csrf_token %}
                            <input type="radio" name="tipoReporte" id="dependencia" value="Dependencia" checked/>
                        </article>
                   </div>
               </div>
               <div class="row"><div class="col-xs-8">
                   Estado
                   </div>
                   <div class="col-xs-4">
                       <article id="ver_tabla_estado">
                           {% csrf_token %}
                            <input type="radio" name="tipoReporte" id="estado" value="Estado"/>
                        </article>
                   </div>
               </div>
               <div class="row"><div class="col-xs-5">
                   RCI
                   </div>
                   <div class="col-xs-2">
                        <input type="radio" name="tipoReporte" value="RCI" />
                   </div>
                   <div class="col-xs-5">
                       <article id="ver_grafica">
                           {% csrf_token %}
                           <button id="button" href="#test-modal" class="popup-modal btn btn-primary fancybox-media italic" >Grafica</button>
                       </article>

                   </div>
               </div>
            </fieldset>
               </div>
           </div>
       </div>
   </div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="../../static/assets/bootstrap/js/bootstrap-datepicker.js"></script>
   <script type="text/javascript">
    var $dp = jQuery.noConflict();
	$dp('#pick input').datepicker({
        autoclose:true
	});
       $dp('#fechaInicial2').datepicker({
        autoclose:true
	});
       $dp('#fechaFinal1').datepicker({
        autoclose:true
	});
       $dp('#fechaFinal2').datepicker({
        autoclose:true
	});
 	</script>

<script src="../../static/assets/js/jquery.numeric.js"></script>
   <script src="../../static/assets/js/utilerias.js"></script>


<script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
<script type="text/javascript">
_uacct = "UA-2189649-2";
urchinTracker();
</script>
</body>
</html>