
 <fieldset class="module aligned {{ fieldset.classes }}" style="border: 0px">
 <div class="campos01">
      <p>&nbsp;</p><p>&nbsp;</p>
  {% for line in fieldset %}
  {% for field in line %}

          {% if field.field.name == "nombreDependencia" %}
                <div class="col-md-7" align="left"><label id="label-fld" for="id_nombreDependencia">
                <span class="{% if errors or adminform.form.non_field_errors %}{{ "error__msg" }}{% else %}{{ "label-fld" }}{% endif %}">*</span>
                Nombre de SubDependencia</label></div>

            <div class="col-md-1"><input class="vTextField" id="id_nombreDependencia" maxlength="200" name="nombreDependencia" type="text"
                                value="{{ field.field.value|default_if_none:"" }}"/></div>
            </div>
       {% endif %}

      {% if field.field.name == "dependienteDe" %}

        <div class="row field-dependienteDe" align="center" style="border-bottom: 15px; padding-bottom: 10px;">
            <div class="col-md-7" align="left"><label id="label-fld" for="id_dependienteDe">
                <span class="{% if errors or adminform.form.non_field_errors %}{{ "error__msg" }}{% else %}{{ "label-fld" }}{% endif %}">*</span>
                Nombre de Dependencia:</label></div>

            <div class="col-md-1">
                                {{ field.field.value|default_if_none:"" }}</div>
            </div>
        {% endif %}

        {% if field.field.name == "imagenDependencia" %}

        <div class="row field-imagenDependencia" align="center" style="border-bottom: 15px; padding-bottom: 10px;">
            <div class="col-md-7" align="left"><label id="label-fld" for="id_imagenDependencia">
                <span class="{% if errors or adminform.form.non_field_errors %}{{ "error__msg" }}{% else %}{{ "label-fld" }}{% endif %}">*</span>
                Imágen de Dependencia:</label></div>

            <div class="col-md-1"><input  id="id_imagenDependencia" name="imagenDependencia" type="file"
                                value="{{ field.field.value|default_if_none:"" }}"/></div>
            </div>
        {% endif %}

           {% if field.field.name == "obraoprograma" %}

        <div class="row field-obraoprograma" align="center" style="border-bottom: 15px; padding-bottom: 10px;">
            <div class="col-md-7" align="left"><label id="label-fld" for="id_obraoprograma">
                <span class="{% if errors or adminform.form.non_field_errors %}{{ "error__msg" }}{% else %}{{ "label-fld" }}{% endif %}">*</span>
                Obra o Programa (O/P):</label></div>

            <div class="col-md-1"><input class="vTextField" id="id_obraoprograma" maxlength="200" name="obraoprograma" type="text"
                                value="{{ field.field.value|default_if_none:"" }}"/></div>
            </div>
        {% endif %}



     {% endfor %}
   {% endfor %}

        </div>
</fieldset>

