{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% block extrastyle %}{{ block.super }}

    <link href="{% static "css/menu.css" %}" rel="stylesheet">  <!--AQUI VAN TODOS LOS ARCHIVOS DE ESTILO EXTRA QUE SE REQUIEREN PARA LA PAGINA O JS-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="{% static "js/prefixfree.min.js" %} "></script>
	<script src="{% static "js/presentaciones.js" %} "></script>
    <link href="{% static "css/styles.css"%}" rel="stylesheet">
    <script>
      $(function(){
    $(".dropdown").hover(
            function() {
                $('.dropdown-menu', this).stop( true, true ).fadeIn("fast");
                $(this).toggleClass('open');
                $('b', this).toggleClass("caret caret-up");
            },
            function() {
                $('.dropdown-menu', this).stop( true, true ).fadeOut("fast");
                $(this).toggleClass('open');
                $('b', this).toggleClass("caret caret-up");
            });
    });
    </script>

{% endblock %}
{% block breadcrumbs %}
{% endblock %}

{% block content %}

    <div id="regresarBTN" onclick="location.href='/obras/consultas'">
    </div>   <!--AGREGAR A DONDE SE VA A REGRESAR CON ESTA URL REGRESA A LA PÀGINA PRINCIPAL-->

    <div id="welcome">Consultas Predefinidas</div>

    <div class="row">
       <div class="col-md-4">
           <div class="row">
               <div class="col-md-12">
                   <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><div class="guardadasExcelBTN"></div></a>
                      <ul class="dropdown-menu">
                            <li><a href="">Obras Iniciadas</a></li>
                            <li><a href="">Obras Vencidas</a></li>
                            <li><a href="">Obras por Dependencia</a></li>
                      </ul>
                   </li>
               </div>
           </div>
           <div class="row">
               <div class="col-md-12">
                   <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><div class="guardadasPptBTN"></div></a>
                      <ul class="dropdown-menu">
                            <li><a href="#" id="balancegeneralppt">Balance General</a></li>
                            <li><a href="#" id="hiperinfogeneralppt">Hiperv&iacute;nculo Informaci&oacute;n General</a></li>
                            <li><a href="#" id="hiperconcluidas">Hiperv&iacute;nculo Concluidas</a></li>
                            <li><a href="#" id="hiperinauguradasppt">Hiperv&iacute;nculo Inauguradas y Señalizadas</a></li>
                            <li><a href="#" id="hiperporsectorppt">Hiperv&iacute;nculo Por Sector</a></li>
                            <li><a href="#" id="hiperporentidadppt">Hiperv&iacute;nculo Por Entidad</a></li>
                            <li><a href="#" id="hiperinterestatal">Hiperv&iacute;nculo Interestatal</a></li>
                            <li><a href="#" id="hipernacional">Hiperv&iacute;nculo Nacional</a></li>
                            <li><a href="#" id="hiperrangos">Hiperv&iacute;nculo Rangos</a></li>
                      </ul>
                   </li>
               </div>
           </div>
       </div>
    </div>


{% endblock %}