{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% block extrastyle %}{{ block.super }}

    <link href="{% static "css/menu.css" %}" rel="stylesheet">  <!--AQUI VAN TODOS LOS ARCHIVOS DE ESTILO EXTRA QUE SE REQUIEREN PARA LA PAGINA O JS-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static "assets/bootstrap/css/bootstrap.css"%}" />

     <script>

    $(document).on('ready', inicio);
     function inicio(){

        $('#tabla').removeClass("mfp-hide");
        $('#tabla').addClass("mfp-show");
        $('#load1').addClass("mfp-hide")
         $('#load2').addClass("mfp-hide")
         $('#load3').addClass("mfp-hide")
     }
     </script>


	<script src="{% static "js/presentaciones.js" %} "></script>
    <link href="{% static "css/styles.css"%}" rel="stylesheet">
    <script>
      $(function(){
    $(".dropdown").hover(
            function() {
                $('.dropdown-menu', this).stop( true, true ).fadeIn("fast");
                $(this).toggleClass('open');
                $('b', this).toggleClass("caret caret-up");
            },
            function() {
                $('.dropdown-menu', this).stop( true, true ).fadeOut("fast");
                $(this).toggleClass('open');
                $('b', this).toggleClass("caret caret-up");
            });
    });
    </script>

    <script type="text/javascript" src="{% static "assets/tablesorter/jquery-latest.min.js"%}"></script>


    <link class="ui-theme" rel="stylesheet" href="{% static "assets/tablesorter/css/jquery-ui.min.css"%}">
    <link class="theme blue" rel="stylesheet" href="{% static "assets/tablesorter/themes/blue/theme.blue.css"%}">

    <script type="text/javascript" src="{% static "assets/tablesorter/jquery.tablesorter.js"%}"></script>
    <script src="{% static "assets/tablesorter/jquery.tablesorter.widgets.js"%}"></script>
	<script type="text/javascript" src="{% static "assets/tablesorter/widget-pager.js"%}"></script>
    <script src="{% static "assets/tablesorter/widget-scroller.js"%}"></script>


    <script id="js" type="text/javascript">
    var $ts = jQuery.noConflict();
	$ts(function() {
        $ts('.tablesorter').tablesorter({
		theme: 'blue',
		// widthFixed: true, // <- now automatically set by the scroller widget
		showProcessing: true,
		headerTemplate : '{content} {icon}',
		widgets: [ 'uitheme', 'zebra', 'pager', 'scroller' ],
		widgetOptions : {
			scroller_height : 400,
			// scroll tbody to top after sorting
			scroller_upAfterSort: true,
			// pop table header into view while scrolling up the page
			scroller_jumpToHeader: true,
			// In tablesorter v2.19.0 the scroll bar width is auto-detected
			// add a value here to override the auto-detected setting
			scroller_barWidth : null
			// scroll_idPrefix was removed in v2.18.0
			// scroller_idPrefix : 's_'
		}
    });
	});
	</script>

    <link rel="stylesheet" type="text/css" href="{% static "assets/css/menu-predefinidos.css"%}" />
    <script type="text/javascript" src="{% static "assets/js/menu-predefinidos.js"%}"></script>



{% endblock %}
{% block breadcrumbs %}
{% endblock %}

{% block content %}

    <div id="regresarBTN" onclick="location.href='/obras/consultas'">
    </div>   <!--AGREGAR A DONDE SE VA A REGRESAR CON ESTA URL REGRESA A LA PÀGINA PRINCIPAL-->

    <div id="welcome">Consultas Predefinidas</div>

    <div class="row">
       <div class="col-md-3">
           <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h6 class="panel-title">Reportes</h6>
                                </div>
                                <ul class="nav nav-pills nav-stacked">
                                    <li style="height: 25px"><a href="/obras/obras_iniciadas" id="obrasIniciadas">Obras Iniciadas <span id="load1" class="glyphicon glyphicon-refresh glyphicon-refresh-animate mfp-hide"></span></a></li>
                                    <li style="height: 25px"><a href="/obras/obras_vencidas" id="obrasVencidas">Obras Vencidas <span id="load2" class="glyphicon glyphicon-refresh glyphicon-refresh-animate mfp-hide"></span></a></li>
                                    <li style="height: 35px"><a href="/obras/obras_dependencia" id="obrasDependencia">Obras por Dependencia <span id="load3" class="glyphicon glyphicon-refresh glyphicon-refresh-animate mfp-hide"></span></a></li>
                                </ul>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h6 class="panel-title">Predefinidos</h6>
                                </div>
                                    <ul class="nav nav-pills nav-stacked">
                                    <li style="height: 25px"><a href="/obras/balance-general-ppt" >Balance General</a></li>
                                    <li style="height: 25px"><a href="/obras/hiper-info-general-ppt" >Hiperv&iacute;nculo Informaci&oacute;n General</a></li>
                                    <li style="height: 25px"><a href="#" >Hiperv&iacute;nculo Concluidas</a></li>
                                    <li style="height: 35px"><a href="/obras/hiper-inauguradas-ppt" >Hiperv&iacute;nculo Inauguradas y Señalizadas</a></li>
                                    <li style="height: 25px"><a href="/obras/hiper-por-sector-ppt" >Hiperv&iacute;nculo Por Sector</a></li>
                                    <li style="height: 25px"><a href="/obras/hiper-por-entidad-ppt/" >Hiperv&iacute;nculo Por Entidad</a></li>
                                    <li style="height: 25px"><a href="#" >Hiperv&iacute;nculo Interestatal</a></li>
                                    <li style="height: 25px"><a href="#" >Hiperv&iacute;nculo Nacional</a></li>
                                    <li style="height: 35px"><a href="#" >Hiperv&iacute;nculo Rangos</a></li>
                                </ul>
                            </div>

           </div>

       </div>

       <div class="col-md-8-box">
            <div class="col-md-12 mfp-hide" id="tabla">
                <table cellspacing="1" class="tablesorter" id="tablaIzquierda">
               <thead>
                    <tr>
                        <th>Id</th>
                        <th>Denominaci&oacute;n</th>
                        <th>Estado</th>
                    </tr>
               </thead>
               <tfoot>
                     <tr>
                         <th>Id</th>
                         <th>Denominaci&oacute;n</th>
                         <th>Estado</th>
                     </tr>
                     <tr><td class="pager" id="pagerI" colspan="3">
                                <img src="../../static/assets/tablesorter/addons/pager/icons/first.png" class="first" id="first"/>
                                <img src="../../static/assets/tablesorter/addons/pager/icons/prev.png" class="prev" id="prev"/>
                                <span class="pagedisplay" id="pagedisplay"></span>
                                <img src="../../static/assets/tablesorter/addons/pager/icons/next.png" class="next" id="next"/>
                                <img src="../../static/assets/tablesorter/addons/pager/icons/last.png" class="last" id="last"/>
                                <select class="pagesize" id="pagesize">
                                <option selected="selected"  value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option  value="40">40</option>
                                </select>
                     </td></tr>
               </tfoot>
               <tbody>
                    {% for obra in obras_resultado %}
                       <div class="row">
                           <tr>
                                <td>{{ obra.identificador_unico }}</td>
                                <td>{{ obra.dependencia.nombreDependencia }}</td>
                                <td>{{ obra.estado.nombreEstado }}</td>
                           </tr>
                       </div>
                    {% endfor %}

                </tbody>

           </table>
            </div>
       </div>
    </div>


{% endblock %}