
{% if fieldset.name == "Personal info" %}
<fieldset class="module aligned wide {{ fieldset.classes }}" style="border: 0px;">
     <div class="datosGENERALES">
     <div id="tituloCUADROS">
    	DATOS GENERALES
         <p>&nbsp;</p>
    </div>
    {% for line in fieldset %}
        {% for field in line %}
             {% if field.field.name == "first_name" %}
                <div class="row  field-username" align="center" style="border-bottom: 15px; padding-bottom: 10px;">
                    <div class="col-md-3">
                        <label class="required" for="id_first_name">Nombre:</label>
                    </div>
                    <div class="col-md-9" >
                        <input id="id_first_name" maxlength="30" name="first_name" type="text" value="{{ field.field.value|default_if_none:"" }}" />
                       {% if field.field.help_text %}
                        <p class="help" hidden="true">{{ field.field.help_text|safe }}</p>
                    {% endif %}
                    </div>
                </div>
                 <div class="row field-first_name errornote" align="center">
                     <div class="col-md-7"  >{{ field.errors }}</div></div>
            {% endif %}
            {% if field.field.name == "last_name" %}
                <div class="row  field-username" align="center" style="border-bottom: 15px; padding-bottom: 10px;">
                    <div class="col-md-3"  >
                        <label for="id_last_name">Apellidos:</label>
                    </div>
                    <div class="col-md-9" >
                        {{ field.field }}
                        {% if field.field.help_text %}
                        <p class="help" hidden="true">{{ field.field.help_text|safe }}</p>
                    {% endif %}
                    </div>
                </div>
                <div class="row field-last_name errornote" align="center">
                <div class="col-md-7"  >{{ field.errors }}</div></div>
            {% endif %}

             {% if field.field.name == "email" %}
                <div class="row  field-email" align="center" style="border-bottom: 15px; padding-bottom: 10px;">
                    <div class="col-md-3"  >
                        *<label for="id_email"> E-mail:</label>
                    </div>
                    <div class="col-md-9" >
                        {{ field.field }}
                        {% if field.field.help_text %}
                        <p class="help" hidden="true">{{ field.field.help_text|safe }}</p>
                    {% endif %}
                    </div>
                </div>
                 <div class="row field-email errornote" align="center">{{ field.errors }}</div>
            {% endif %}
        {% endfor %}
    {% endfor %}
      </div>
</fieldset>
{% endif %}

 {% if fieldset.name == "AuthInfo" %}
<fieldset class="module aligned wide {{ fieldset.classes }}" style="border: 0px;">
     <div class="datosINICIO">
     <div id="tituloCUADROS">DATOS DE ACCESO
      <p>&nbsp;</p></div>
    {% for line in fieldset %}
        {% for field in line %}
             {% if field.field.name == "username" %}
                <div class="row  field-username" align="center" style="border-bottom: 15px; padding-bottom: 10px;">
                    <div class="col-md-3"  >
                        <label class="required" for="id_username">*Usuario:</label>
                    </div>
                    <div class="col-md-9" >
                        <input id="id_username" maxlength="30" name="username" type="text" value="{{ field.field.value|default_if_none:"" }}" />
                            {% if field.field.help_text %}
                        <p class="help" hidden="true">{{ field.field.help_text|safe }}</p>
                    {% endif %}
                    </div>
                </div>
                  <div class="row field-username" align="center">
                 <div class="col-md-12">{{ field.errors }}</div></div>
            {% endif %}

            {% if field.field.name == "password1" %}
                <div class="row field-password1" align="center" style="border-bottom: 15px; padding-bottom: 10px;">
                    <div class="col-md-3">
                        <label class="required" for="id_password1">*Contraseña:</label>
                    </div>
                    <div class="col-md-9" >
                        <input id="id_password1" name="password1" type="password" value="{{ field.field.value|default_if_none:"" }}"/>
                        {% if field.field.help_text %}
                        <p class="help" hidden="true">{{ field.field.help_text|safe }}</p>
                    {% endif %}
                    </div>
                 </div>
                 <div class="row field-password1" align="center">
                     <div class="col-md-12">{{ field.errors }}</div></div>
            {% endif %}

            {% if field.field.name == "password2" %}
                <div class="row field-password2" align="center" style="border-bottom: 15px; padding-bottom: 10px;">
                    <div class="col-md-3">
                        <label class="required" for="id_password2">*Contraseña:</label>
                    </div>
                    <div class="col-md-9" >
                        <input id="id_password1" name="password2" type="password" value="{{ field.field.value|default_if_none:"" }}"/>
                        {% if field.field.help_text %}
                        <p class="help" hidden="true">{{ field.field.help_text|safe }}</p>
                    {% endif %}
                    </div>
                </div>
                <div class="row field-password2" align="center">
                    <div class="col-md-12"  >{{ field.errors }}</div></div>
             {% endif %}
        {% endfor %}
    {% endfor %}
     </div>
</fieldset>
{% endif %}


{% if fieldset.name  == "Permissions" %}
      <div class="datosESPECIFICO">
    <div id="tituloCUADROS">DATOS DE PERFIL DE USUARIO<p>&nbsp;</p></div>
    </div>
    <div class="campos04">
<fieldset class="module aligned wide {{ fieldset.classes }}" style="border: 0px;">

         {% for line in fieldset %}
            {% for field in line %}
               {% if field.field.name == "is_active" %}
                 <div class="row field-is_active">
                    <div class="col-md-6" >
                        <label class="vCheckboxLabel" for="id_is_active">Activo</label>
                        {% if field.field.help_text %}
                        <p class="help" hidden="true">{{ field.field.help_text|safe }}</p>
                    {% endif %}
                    </div>
                    <div class="col-md-1" >
                            {{ field.field }}
                    </div>
                 </div>
                 <div class="row field-is_active errornote" align="center">{{ field.errors }}</div>
               {% endif %}

        {% endfor %}
    {% endfor %}

</fieldset>
    </div>
{% endif %}

{% if inline_admin_formset.opts.verbose_name_plural == "Usuario" %}

  <div class="campos03">

    <fieldset class="module aligned wide {{ fieldset.classes }}">

         {% for line in fieldset %}
            {% for field in line %}
               {% if field.field.name == "rol" %}
                 <div class="row field-rol">
                    <div class="col-md-3" >
                        <label class="required" for="id_rol">*Rol:</label>
                    </div>
                    <div class="col-md-7" >
                            {{ field.field }}
                        {% if field.field.help_text %}
                        <p class="help" hidden="true">{{ field.field.help_text|safe }}</p>
                    {% endif %}
                    </div>
                 </div>
                 <div class="row field-rol errornote" align="center">{{ field.errors }}</div>
               {% endif %}

               {% if field.field.name == "dependencia" %}
                  <div class="row field-dependencia" style="padding-top: 8px;">
                    <div class="col-md-3" >
                        <label for="id_usuario-0-dependencia">*Dependencia:</label>
                    </div>
                    <div class="col-md-7" >
                        {{ field.field }}
                       {% if field.field.help_text %}
                        <p class="help" hidden="true">{{ field.field.help_text|safe }}</p>
                    {% endif %}
                    </div>
                  </div>
                   <div class="row field-dependencia errornote" align="center">{{ field.errors }}</div>
                {% endif %}
        {% endfor %}
    {% endfor %}

</fieldset>
    </div>
{% endif %}






{% if fieldset.name  == "Important dates" %}
<fieldset class="module aligned {{ fieldset.classes }}" style="border: 0px;">
     <div class="campos05">
         {% for line in fieldset %}
            {% for field in line %}
               {% if field.field.name == "last_login" %}
                 <div class="row field-last_login" hidden="true">
                    <div class="col-md-5" >
                        <label class="required" for="last_login">Último acceso:</label>
                    </div>
                 </div>
                 <div class="row field-last_login">
                    <div class="col-md-7" hidden="true">
                            {{ field.field }}
                        {% if field.field.help_text %}
                        <p class="help" hidden="true">{{ field.field.help_text|safe }}</p>
                    {% endif %}
                    </div>
                 </div>
                 <div class="row field-last_login errornote" align="center">{{ field.errors }}</div>
               {% endif %}

               {% if field.field.name == "date_joined" %}
                  <div class="row field-date_joined" hidden="true">
                    <div class="col-md-7" hidden="true">
                        <label for="date_joined" hidden="true">Fecha de Alta:</label>
                    </div>
                  </div>
                  <div class="row field-last_login" hidden="true">
                    <div class="col-md-7" hidden="true">
                        {{ field.field }}
                        {% if field.field.help_text %}
                        <p class="help" hidden="true">{{ field.field.help_text|safe }}</p>
                    {% endif %}
                    </div>
                  </div>
                  <div class="row field-date_joined errornote" align="center">{{ field.errors }}</div>
                {% endif %}
        {% endfor %}
    {% endfor %}
     </div>
</fieldset>

{% endif %}
