{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% block extrastyle %}{{ block.super }}

    <link href="{% static "css/menu.css" %}" rel="stylesheet">
{% endblock %}
{% block breadcrumbs %}
{% endblock %}

{% block content %}
    <div id="regresarBTN" onclick="window.history.go(-1);">
   </div>

  <div id="welcome">C L A S I F I C A C I Ó N</div>

  <div class="clasifADD" onclick="location.href='/admin/obras/tipoclasificacion/add'">
  </div>

  <div class="clasifSEARCH" onclick="location.href='/admin/obras/tipoclasificacion/'">
  </div>

  <div class="clasifEDIT" onclick="location.href='/admin/obras/tipoclasificacion/?e=2'">
  </div>

  <div class="clasifDEL" onclick="location.href='/admin/obras/tipoclasificacion/?e=1'">
  </div>

{% endblock %}
