{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% block extrastyle %}{{ block.super }}

    <link href="{% static "css/menu.css" %}" rel="stylesheet">
{% endblock %}
{% block breadcrumbs %}
{% endblock %}

{% block content %}
       <div id="regresarBTN" onclick="location.href='/obras/catalogo'">
   </div>

  <div id="welcome">
    	S U B D E P E N D E N C I A S
  </div>

  <div class="subdepADD" onclick="location.href='/admin/obras/dependencia/add/'">
  </div>

  <div class="subdepSEARCH" onclick="location.href='/admin/obras/dependencia/'">
  </div>

  <div class="subdepEDIT" onclick="location.href='/admin/obras/dependencia/'">
  </div>

  <div class="subdepDEL" onclick="location.href='/admin/obras/dependencia/'">
  </div>

{% endblock %}
