{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% block extrastyle %}{{ block.super }}

    <link href="{% static "css/menu.css" %}" rel="stylesheet">  <!--AQUI VAN TODOS LOS ARCHIVOS DE ESTILO EXTRA QUE SE REQUIEREN PARA LA PAGINA O JS-->
{% endblock %}
{% block breadcrumbs %}
{% endblock %}

{% block content %}

    <div id="regresarBTN" onclick="window.history.go(-1);">
    </div>   <!--AGREGAR A DONDE SE VA A REGRESAR CON ESTA URL REGRESA A LA PÀGINA PRINCIPAL-->

    <div id="welcome">NOMBRE DE LA SECCION</div>

  <!--aqui agregar todo lo que es contenido de la página-->

{% endblock %}
