{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}
     <!-- bxSlider Javascript file -->
    <script src="{% static "galeria/jquery.bxslider.min.js" %}"></script>
    <!-- bxSlider CSS file -->
    <link href="{% static "galeria/jquery.bxslider.css" %}" rel="stylesheet" />
    <link href="{% static "galeria/scripts.js" %}" rel="stylesheet" />
    <link href="{% static "css/login.css"%}" rel="stylesheet">
{% endblock %}

{% block bodyclass %}{{ block.super }} login {% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<script type="text/javascript">
  $(document).ready(function($) {
      $('.bxslider').show();
      $ ("#galeria").show();
      $("#logIn").show();
  });
</script>
    <div class="galeria" id="galeria" hidden="true">
          <ul class="bxslider" style=" -webkit-padding-start:0px" hidden="true">
              <li><img src="{% static "img/FotoGalereria/002_gal.jpg" %}" /></li>
              <li><img src="{% static "img/FotoGalereria/001_gal.jpg" %}" /></li>
              <li><img src="{% static "img/FotoGalereria/003_gal.jpg" %}" /></li>
              <li><img src="{% static "img/FotoGalereria/004_gal.jpg" %}" /></li>
          </ul>
    </div>

        <!--<div class="botGAL">
        </div>-->

        <div class="logIn" id="logIn" hidden="true">

        	<p class="titulo" align="justify">
            Estimado usuario: <br><br></p>
            <p class="tituloConcluidas" align="justify">
            El sistema ha sido migrado, la nueva URL de acceso es: <B>coseo.presidencia.gob.mx</B>
            <br><br>
                Podr&aacute;n acceder una vez terminado su proceso de Acceso Remoto VPN.
            </p>
            <br />

		</div>

                <script src="{% static "galeria/jquery.bxslider.min.js" %}"></script>
                <script type="text/javascript">
                    var $j = jQuery.noConflict()
                   $j(document).ready(function(){
                    $j('.bxslider').bxSlider({
                        auto: true,
                        mode: 'fade'
                      });
                   });
                </script>

{% endblock %}



