{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% block extrastyle %}{{ block.super }}
    <link href="{% static "css/login.css"%}" rel="stylesheet">
{% endblock %}
{% block breadcrumbs %}
{% endblock %}

{% block title %}{% endblock %}
{% block content_title %}{% endblock %}
{% block content %}
      <div id= "regresarBTN" onclick="location.href='/admind'">
        </div>
   <div class="recuperarCon">
        	<p class="titulo">
            Recuperar Contraseña
            </p>
            Para recuperar tu contraseña, es necesario que digites el correo electrónico de tu registro ya que te enviaremos los pasos a seguir a esa dirección.
            <p><br>
            </p>


            <form action="" method="post" id="reset-form">{% csrf_token %}

                <p><label for="id_email"><span class="{% if form.email.errors or form.non_field_errors %}{{ "error__msg" }}{% else %}{{ "tit_1" }}{% endif %}">*</span> E-mail:</label> {{ form.email }}
                <br><br>
                 {{ form.email.errors }}
                </p>
                <div class="botENVIAR" onclick="document.getElementById('reset-form').submit();"></div>
            </form>


   </div>




{% endblock %}
