{% extends "base.html" %}
{% block content %}

    {% if form.errors %}
        <p class = "error"> Por favor verifica los datos, usuario o contraseña son incorrectos</p>
    {% endif %}

    <form action="auth_view" method="post">{% csrf_token %}
        <label for="username">Usuario:</label>
        <input type="text" name="username" value="" id="username">
        <label for="password">Contraseña:</label>
        <input type="password" name="password" value="" id="password">

        <input type="submit" value="login" />
    </form>
{% endblock %}