<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                $.ajax({
                    url: 'http://localhost:8000/obras/api/estados',
                    data: {
                        access_token: 'tJGQFoupDbSkolSWJ8J891vbX85bWt'
                    },
                    success: function(data, textStatus, jqXHR) {
                        alert('success!!! ' + data[0].nombreEstado);

                    },
                    error: function(data, textStaus, error) {
                        alert('error!!! ' + data.status);
                    }
                });
            });

            var onselect = function() {

            }
        </script>

        <h1>test</h1>
        <form>
            <select id="select_dependences">
                <option value="1">dependencia 1</option>
                <option value="2">dependencia 2</option>
            </select>
        </form>
    </body>
</html>